 /*reset */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

.clear {
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.2rem;
	font-weight: 400;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 10px!important;
	font-weight: 400;
}

a {
	text-decoration: none;
}



