*{
  margin: 0;
  padding: 0;
}
@color:#ffffff;
body{
  background-color: #FAFAFA;
}
.header{
  .hotline{
    width: 100%;
    height: 35px;
    background: @color;

    .hotline1{
      width: 70%;
      height: 35px;
      background: @color;
      margin: auto;
      a{
        color: #29B078;
        display: inline-block;
        padding-top: 5px;
      }
      img{
        float: right;
        padding-top: 5px;
      }
    }
  }
}
.head{
  .two{
    img{
      width: 100%;
      margin-top: -1rem;
    }
  }
  .nav {
    padding: 0;
    height: 10rem;
    background: #29b078;
    span {
      display: inline-block;
      width: 8rem;
      text-align: center;
      height: 9.9rem;
      margin-top: 1px  ;
      padding-right: 6px;
    }
    span:hover {
      display: block;
      border-bottom: 0.3rem solid @color;
    }
    ul {
      float: right;
      margin-top: -9rem;
    }
    li {
      float: left;
      list-style: none;
      font-size: 1.6rem;
      color: @color;
      line-height: 10rem;
      margin-left: 3.5rem;
    }
    .nav-1 {
      width: 73%;
      margin: auto;
      height: 10rem;
      b{
        color: @color;
        font-size: 40px;
        display: inline-block;
        padding-top: 13px;
        padding-left: 28px;
      }
      p{
        color: @color;
        padding-left: 37px;
      }
      a{
        color: @color;
      }
    }
  }
}
.subnav{
  width: 100%;
  .tow{
    width: 70%;
    margin: auto;
    margin-top: 10rem;
    height: 8rem;
    line-height: 8rem;
    border-bottom: 1px solid #d0d6d9;
    span{
      font-size: 1.6rem;
    }
    a{
      color: #29B078;
    }
  }
  .tow1{
    width: 70%;
    margin: auto;
    height: 8rem;
    line-height: 8rem;
    border-bottom: 1px solid #E5E5E5;
    p{
      font-size: 1.4rem;
      color: #999999;
    }
    a{
      color: #000000;
      margin-left: 3rem;
      padding: 0.5rem;
      text-decoration: none;
    }
    a:hover {
      background: #29b078;
      color: #FFFFFF;
    }
  }
  .tab{
    width: 70%;
    height: 8rem;
    line-height: 8rem;
    margin: auto;
    border-bottom: 1px solid #d0d6d9;
    margin-bottom: 4rem;
    b{
      font-size: 2rem;
    }
  }
}
.main{
  width: 100%;
  .main1{
    width: 70%;
    margin: auto;
    .content{
      width: 36.6rem;
      height: 44.5rem;
      border: 1px solid #eeeded;
      display: inline-block;
      border-radius: 5px;
      margin-top: 1rem;
      .veil {
        width: 36.5rem;
        height: 44.3rem;
        background: #120e0b;
        opacity: 0;
        position: absolute;
        padding: 8.5rem 4.3rem;
        color: #FFFFFF;
        font-size: 1.4rem;
        transition:all 2s;
        transform-origin: 50% 0;
        border-radius: 5px;
        .veil-1 {
          text-align: center;
          margin-bottom: 3.5rem;
        }
      }
      .part{
        float: left;
        padding: 2rem 1rem;
      }
      .about{
        padding-top: 4rem;
        width: 100%;
        height: 37%;
        b{
          font-size: 1.7rem;
        }
        p{
          padding-top: 1rem;
        }
      }
      .bitted{
        margin-top: 25px;
       span{
        display: block;
        width: 50%;
        height: 4rem;
        border-top: 0.1rem solid #eeeded;
      }
        a {
          color: red;
        }
        p {
          line-height: 4rem;
          margin-left: 1rem;
          font-size: 1.2rem;
          color: #999999;
          margin-bottom: 0;
        }
        img {
          vertical-align: -0.3rem;
          width: 1.8rem;
          height: 1.8rem;
          margin-left: 1.5rem;
        }
      .left-part {
        border-right: 0.1rem solid #eeeded;
      }
        .pay {
          height: 8rem;
          border-top: 0.1rem solid #eeeded;
          border-bottom: 0.1rem solid #eeeded;
          margin-top: 0.1rem;
        .clear {
          clear: both
        }
        .par-1 {
          text-align: center;
          width: 15.4rem;
          border-right: 0.1rem solid #eeeded;
          font-size: 1.2rem;
          color: #999999;
          line-height: 10.6rem;
        }
        .par-2 {
          padding-left: 15.4rem;
          padding-top: 7.8rem;
          span {
            height: 3.5rem;
            border: 0.1rem solid #eeeded;
            width: 100%;
            margin-left: -1px;
          }
          p {
            line-height: 3.5rem;
            margin-left: 1rem;
            font-size: 1.2rem;
          }
          a {
          color: #333333;
            padding-left: 10rem;
           }
        }
        }
        .par-3{
          font-size: 1.4rem;
          border: 0.1rem solid #eeeded;
          padding-left: 2rem;
          padding-top: 0.4rem;
          margin-top: 10.3rem;
          width: 100%;
          height: 4rem;
          a {
            color: red;
          }
        }
        .eight-2 {
          line-height: 5.5rem;
          font-size: 1.1rem;
          color: #999999;
          p{
            padding-left: 1rem;
            line-height: 0rem;
            margin-left: 0rem;
            font-size: 1.2rem;
            color: #999999;
            padding-top: 1.7rem;
          }
        }
      }
    }
    .content:hover .veil{
      transform: rotatey(720deg);
      opacity: 0.8;
    }

  }
  .tab{
    width: 100%;
    height: 8rem;
    line-height: 8rem;
    margin: auto;
    border-bottom: 1px solid #d0d6d9;
    margin-bottom: 4rem;
    b{
      font-size: 2rem;
    }
  }
}
.such{
  background: #29B078;
  padding: 0;
  margin-top: 18rem;
  .ending-1{
    width: 70%;
    margin: auto;
    height: 10vw;
    padding-top: 3rem;
    .left-ending{
      font-size: 1.4rem;
      p{
        color: @color;
        margin-bottom: 8rem;
      }
      a{
        color: #fff;
      }
    }
    .centre-ending{
      color: #fff;
      font-size: 1.4rem;
      margin-top: -11rem;
      padding-left: 36rem;
      p{
        margin-bottom: 3rem;
      }
    }
    .right-ending{
      text-align: right;
      margin-top: -15rem;
      p{
        color: #fff;
        padding-right: 12px;
      }
      .pieced{

      }
    }
  }
  .last{
    text-align: center;
    color: #fff;
    border-top: 0.1rem solid;
    font-size: 1.4rem;
    height: 3rem;
    line-height: 3rem;
  }
}
  @media (max-width: 768px) {
  .head {
    .nav {
      li {
        margin-left: 0rem;
      }
    }
  }
  .subnav{
   .tow1{
     a{
    margin-left: 0rem;
     }
     }
  }
.main{
  .main1{
    .content{
      width: 100%;
      .veil{
        width: 70%;
      }
    }
  }
}

    .such{
    margin-top: 12rem;
    .ending-1{
      width: 100% !important;
      height: 26rem !important;
      display: inline-block;
      .left-ending{
        p{
          margin-bottom: 8rem !important;
        }
        a{
          position: relative;
          top: -8rem;
        }
      }
      .centre-ending{
        margin-left: -36rem;
        margin-top: -8rem;
        p{
          margin-bottom: 0rem !important;
        }
      }
      .right-ending{
        float: left;
        padding-top: 15rem;
        p{
          margin-top: 0px;
          position: relative;
          left: -9px;
        }
      }
    }
  }
}