* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FAFAFA;
}
.header .hotline {
  width: 100%;
  height: 35px;
  background: #ffffff;
}
.header .hotline .hotline1 {
  width: 70%;
  height: 35px;
  background: #ffffff;
  margin: auto;
}
.header .hotline .hotline1 a {
  color: #29B078;
  display: inline-block;
  padding-top: 5px;
}
.header .hotline .hotline1 img {
  float: right;
  padding-top: 5px;
}
.head .two img {
  width: 100%;
  margin-top: -1rem;
}
.head .nav {
  padding: 0;
  height: 10rem;
  background: #29b078;
}
.head .nav span {
  display: inline-block;
  width: 8rem;
  text-align: center;
  height: 9.9rem;
  margin-top: 1px  ;
  padding-right: 6px;
}
.head .nav span:hover {
  display: block;
  border-bottom: 0.3rem solid #ffffff;
}
.head .nav ul {
  float: right;
  margin-top: -9rem;
}
.head .nav li {
  float: left;
  list-style: none;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 10rem;
  margin-left: 3.5rem;
}
.head .nav .nav-1 {
  width: 73%;
  margin: auto;
  height: 10rem;
}
.head .nav .nav-1 b {
  color: #ffffff;
  font-size: 40px;
  display: inline-block;
  padding-top: 13px;
  padding-left: 28px;
}
.head .nav .nav-1 p {
  color: #ffffff;
  padding-left: 37px;
}
.head .nav .nav-1 a {
  color: #ffffff;
}
.main-left {
  width: 30%;
  margin-top: 25rem;
  float: left;
}
.main-left .tab {
  margin-left: 24.3rem;
}
.main-left .tab p {
  font-size: 1.5rem;
}
.main-left .tab span {
  color: #29B078;
  font-size: 1.5rem;
  position: relative;
  top: -31px;
  left: 39px;
}
.main-left .right {
  width: 50%;
  float: right;
  margin-right: -0.5rem;
}
.main-left .right ul {
  width: 100%;
  height: 51rem;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-top: -1px;
}
.main-left .right li {
  margin-top: 2rem;
  color: #f9a372;
  margin-left: 9.5rem;
}
.main-left .right a {
  color: #29B078;
}
.main-left .right a:hover {
  background: orange;
  color: #FFFFFF;
}
.main-left .right .cooperation {
  width: 100%;
  height: 5rem;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 0px 0px;
}
.main-left .right .cooperation span {
  font-size: 1.5rem;
  display: inline-block;
  padding-top: 1.5rem;
  padding-left: 9rem;
}
.main-right {
  width: 52%;
  margin-top: 28rem;
  margin-right: 24rem;
  float: right;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 20rem;
}
.main-right .whole {
  border-bottom: 1px solid #E5E5E5;
  height: 16.3rem;
  width: 100%;
  background: #ffffff;
  padding-right: 5rem;
}
.main-right .whole img {
  float: left;
}
.main-right .whole p {
  font-size: 1.5rem;
  color: #999999;
  padding-top: 3rem;
  line-height: 29px;
}
.main-right .whole1 {
  height: 15rem;
  width: 85%;
  margin: auto;
  background: #ffffff;
}
.main-right .whole1 p {
  font-size: 1.5rem;
  color: #999999;
  padding-top: 4rem;
  line-height: 29px;
}
.main-right .whole2 {
  height: 30rem;
  width: 85%;
  margin: auto;
  background: #ffffff;
}
.main-right .whole2 p {
  font-size: 1.5rem;
  color: #999999;
  padding-top: 4rem;
  line-height: 29px;
}
.such {
  background: #29B078;
  padding: 0;
  margin-top: 163rem;
}
.such .ending-1 {
  width: 70%;
  margin: auto;
  height: 10vw;
  padding-top: 3rem;
}
.such .ending-1 .left-ending {
  font-size: 1.4rem;
}
.such .ending-1 .left-ending p {
  color: #ffffff;
  margin-bottom: 8rem;
}
.such .ending-1 .left-ending a {
  color: #fff;
}
.such .ending-1 .centre-ending {
  color: #fff;
  font-size: 1.4rem;
  margin-top: -11rem;
  padding-left: 36rem;
}
.such .ending-1 .centre-ending p {
  margin-bottom: 3rem;
}
.such .ending-1 .right-ending {
  text-align: right;
  margin-top: -15rem;
}
.such .ending-1 .right-ending p {
  color: #fff;
  padding-right: 12px;
}
.such .last {
  text-align: center;
  color: #fff;
  border-top: 0.1rem solid;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3rem;
}
@media (max-width: 768px) {
  .head .nav li {
    margin-left: 0rem;
  }
  .main-left {
    width: 100%;
    margin-top: 12rem;
  }
  .main-left .tab {
    margin-left: 27rem;
  }
  .main-left .right {
    width: 85%;
    margin-right: 4.5rem;
  }
  .main-left .right li {
    margin-left: 24rem;
  }
  .main-left .right .cooperation span {
    padding-left: 23.5rem;
  }
  .main-right {
    width: 90%;
    float: left;
    margin-left: 3rem;
    margin-top: 5rem;
  }
  .main-right .whole {
    height: 20.3rem;
    width: 100%;
    padding-right: 3rem;
  }
  .such {
    margin-top: 219rem;
  }
  .such .ending-1 {
    width: 100% !important;
    height: 26rem !important;
    display: inline-block;
  }
  .such .ending-1 .left-ending p {
    margin-bottom: 8rem !important;
  }
  .such .ending-1 .left-ending a {
    position: relative;
    top: -8rem;
  }
  .such .ending-1 .centre-ending {
    margin-left: -36rem;
    margin-top: -8rem;
  }
  .such .ending-1 .centre-ending p {
    margin-bottom: 0rem !important;
  }
  .such .ending-1 .right-ending {
    float: left;
    padding-top: 15rem;
  }
  .such .ending-1 .right-ending p {
    margin-top: 0px;
    position: relative;
    left: -9px;
  }
}
