*{
  margin: 0;
  padding: 0;
}
@color:#ffffff;
body{
  background: #fafafa !important;
}
.one{
  padding-top: 10.9rem;
}
.weap {
  width: 80%;
  margin: auto;
}
.piece {
  margin-bottom: 8rem;
}

.pieced{
  width: 20%;
  padding-bottom: 8rem;
  display: inline-block;
  padding-top: 8rem;
  p {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: 7rem;
  }
  a {
    position: relative;
    left: -3rem;
    font-size: 1.6rem;
    color: #999999;
  }
  img {
    height: 6.2rem;
    margin-right: 7rem;
   }
  .pie{
    width: 100%;
  }
}
.pieced-1 {
  width: 25%;
  border-left: 0.1rem dashed #AAAAAA;
  font-size: 1.8rem;
  height: 19rem;
  display: inline-block;
  p {
    color: #999999;
    margin-top: 1.5rem;
  }
  b {
    margin-left: -11.5rem;
    color: #26a26f;
  }
  img {
    margin-right: 1rem;
    padding-top: 3rem;
  }
}


.method {
  text-align: center;
  width: 80%;
  margin: auto;
  p {
    text-align: center;
    font-size: 0.8vw;
    padding-right: 1vw;
    img {
      margin-right: 1rem;
      position: absolute;
      left: 27rem;
      top: 1.2rem;
    }
  }
  .met {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }

.method-1 {
  width: 24%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  img{
    margin-top: -4.5vw;
    margin-left: 12vw;
  }
}
.top-method {
  width: 100%;
}
.round {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #ffffff;
  line-height: 4.5rem;
  text-align: center;
  color: #29b078;
  border: 1px solid #999;
}
.word {
  width: 10vw;
  margin-left: 3vw;
  padding-left: 1rem;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  color: #999999;
}
}
.student {
  width: 70%;
  height: 46rem;
  margin: auto;
    p {
      text-align: center;
      font-size: 1.8rem;
    }
    .stud{
      width: 23%;
      display: inline-block;
    }
  }
  .blue-1 {
    margin-left: 3rem;
    margin-top: 2rem;
    height: 36.7rem;
    background: @color;
    text-align: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 1px 1px 3px #888888;
    border-radius: 0.2rem;
    p {
      margin-top: 2rem;
    }
    a {
      color: #AAAAAA;
    }
    img {
      border-radius: 50%;
    }
  }
.recent {
  height: 4rem;
  margin-bottom: 3rem;
span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #aaaaaa;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  margin-top: 2rem;

}
  span:hover {
    background: #29b078;
  }
 p {
  display: block;
  width: 8rem;
  margin: auto;
}
}
.company{
  width: 70%;
  margin: auto;
  height: 40rem;
p {
  text-align: center;
  font-size: 1.8rem;
}
  span {
  float: left;
  background: @color;
  height: 17.5rem;
  box-shadow: 1px 1px 3px #888888;
}

 span:hover {
  transform: scale(1.1, 1.1);
}

.logo {
  width: 20%;
  height: 20rem;
  line-height: 18rem;
  margin-top: 4rem;
  text-align: -webkit-center;
}
}
.friendly {
  padding: 0;
  background: @color;
 .end {
  text-align: center;
  font-size: 1.8rem;
}

.fa {
  width: 70%;
  margin: auto;
  height: 8rem;
  ul {
  margin-top: 2rem;
}
 li {
  font-size: 1.4rem;
  color: #999999;
  width: 6rem;
  line-height: 3rem;
}
  li:hover {
    border-bottom: 0.2rem solid #26a26f;
  }
 span {
   float: left;
   display: block;
   height: 3rem;
   margin-right: 4.6rem;
}
  .kind {
    margin-right: 0;
  }
}
}

  @media (max-width: 768px){
    .nav{
    li{
      margin-left: 1rem !important;
      position: relative;
      right: 5rem;
    }
      img{
      padding-left: 0vw;
      }
    }
    .weap{
      margin-top: 8rem;
      .pieced{
        width: 100% !important;
        margin-top: -8rem;
        img{
        margin: auto;
      }
        p{
          margin: auto;
          font-size: 1.5rem;
          padding-top: 2rem;
        }
        .pie{
          a{
            padding-left: 8rem;
          }
        }
      }
      .pieced-1{
        width: 100% !important;
        margin-top: -2rem;
        img{
          margin: auto;
        }
        p{
          margin: auto;
          font-size: 1.5rem;
          padding-top: 2rem;
        }
        .pie1{
          a{
            padding-left: 8rem;
          }
        }
      }
    }
    .method{
        .method-1{
          width: 100%;
          img{
            margin-top: -4.5vw;
            float: right;
          }
          .word{
            width: auto;
          }
        }
      }
    .student{
      width: 70%;
      height: 160rem;
    .stud{
      width: 100%;
      .blue-1{
        width: 100%;
        margin-left: 0;
       }
      }
    }
    .company{
        margin-bottom: 10rem;
        position: relative;
        top: 4rem;
        .logo{
          width: 100%;
          margin-top: 0.5rem;
        }
      }
      .friendly{
        margin-top: 9rem;
        width: 100%;
        display: inline-block;
        .fa{
          width: 70%;
          height: 17rem;
          text-align: center;
          padding-left: 4rem;
          span{
            height: 4rem;
            width: 3rem;
            margin-right: 4.6rem;
          }
        }
      }
    .such{
    .ending-1{
      width: 100% !important;
      height: 26rem !important;
      display: inline-block;
      .left-ending{
        p{
          margin-bottom: 8rem !important;
        }
        a{
          position: relative;
          top: -8rem;
        }
      }
      .centre-ending{
        margin-left: -36rem;
        margin-top: -8rem !important;
        p{
        margin-bottom: 0rem !important;
        }
      }
      .right-ending{
        float: left;
        padding-top: 15rem;
        p{
          margin-top: 0px;
          position: relative;
          left: -9px;
        }
      }
    }
    }

  }