*{
  margin: 0;
  padding: 0;
}
@color:#ffffff;
.header{
  .hotline{
    width: 100%;
    height: 35px;
    background: @color;

  .hotline1{
    width: 70%;
    height: 35px;
    background: @color;
    margin: auto;
    a{
      color: #29B078;
      display: inline-block;
      padding-top: 5px;
    }
    img{
      float: right;
      padding-top: 5px;
    }
  }
}
}
  .nav {
    padding: 0;
    width: 100%;
    background: #29b078;
    span {
      display: inline-block;
      width: 8rem;
      text-align: center;
      height: 9.9rem;
    margin-top: 1px ;
    }
    span:hover {
      display: block;
      border-bottom: 0.3rem solid @color;
    }
  li {
    float: right;
    list-style: none;
    font-size: 1.6rem;
    color: @color;
    line-height: 9rem;
    margin-left: 3.5rem;
  }
  }
  .nav-1 {
    height: 10rem;
    width: 70%;
    margin: auto;
  }
.one{
  padding-top: 10.9rem;
}
.weap {
  width: 80%;
  margin: auto;
}
.piece {
  margin-bottom: 8rem;
}

.pieced{
  width: 20%;
  padding-bottom: 8rem;
  display: inline-block;
  padding-top: 8rem;
  p {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: 7rem;
  }
  a {
    position: relative;
    left: -3rem;
    font-size: 1.6rem;
    color: #999999;
  }
  img {
    height: 6.2rem;
    margin-right: 7rem;
   }
  .pie{
    width: 100%;
  }
}
.pieced-1 {
  width: 25%;
  border-left: 0.1rem dashed #AAAAAA;
  font-size: 1.8rem;
  height: 19rem;
  display: inline-block;
  p {
    color: #999999;
    margin-top: 1.5rem;
  }
  b {
    margin-left: -11.5rem;
    color: #26a26f;
  }
  img {
    margin-right: 1rem;
    padding-top: 3rem;
  }
}


.method {
  text-align: center;
  width: 80%;
  margin: auto;
  p {
    text-align: center;
    font-size: 0.8vw;
    padding-right: 1vw;
    img {
      margin-right: 1rem;
      position: absolute;
      left: 27rem;
      top: 1.2rem;
    }
  }
  .met {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }

.method-1 {
  width: 24%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  img{
    margin-top: -4.5vw;
    margin-left: 12vw;
  }
}
.top-method {
  width: 100%;
}
.round {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #ffffff;
  line-height: 4.5rem;
  text-align: center;
  color: #29b078;
  border: 1px solid #999;
}
.word {
  width: 10vw;
  margin-left: 3vw;
  padding-left: 1rem;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  color: #999999;
}
}
.student {
    width: 100%;
    p {
      text-align: center;
      font-size: 1.8rem;
    }
    .blue{

    }
  }
  .blue-1 {
    margin-left: 3rem;
    margin-top: 2rem;
    width: 22%;
    height: 36.7rem;
    background: @color;
    text-align: center;
    float: left;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 1px 1px 3px #888888;
    border-radius: 0.2rem;
    p {
      margin-top: 2rem;
    }
    a {
      color: #AAAAAA;
    }
    img {
      border-radius: 50%;
    }
  }
.recent {
  height: 4rem;
  margin-bottom: 3rem;
span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #aaaaaa;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  margin-top: 2rem;

}
  span:hover {
    background: #29b078;
  }
 p {
  display: block;
  width: 8rem;
  margin: auto;
}
}
.company{
  margin-bottom: 5rem;
p {
  text-align: center;
  font-size: 1.8rem;
  position: relative;
  right: 29.6rem;
  top: 8rem;
}
  span {
  float: left;
  background: @color;
  height: 17.5rem;
  box-shadow: 1px 1px 3px #888888;
}

 span:hover {
  transform: scale(1.1, 1.1);
}

.logo {
  width: 20%;
  height: 20rem;
  line-height: 18rem;
  margin-top: 11rem;
  margin-bottom: 5rem;
  text-align: -webkit-center;
}
}
.friendly {
  padding: 0;
  background: @color;
  padding-left: 3vw;
 .end {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.fa {
  width: 102%;
  margin: auto;
  height: 10rem;
  ul {
  margin-top: 2rem;
}
 li {
  font-size: 1.4rem;
  color: #999999;
  width: 6rem;
  line-height: 3rem;
}
  li:hover {
    border-bottom: 0.2rem solid #26a26f;
  }
 span {
  float: left;
  display: block;
  width: 6rem;
  height: 3rem;
  margin-right: 5.6rem;
}
  .kind {
    margin-right: 0;
  }
}
}

.such{
    background: #29B078;
    padding: 0;
  .ending-1{
    width: 70%;
    margin: auto;
    height: 10vw;
    padding-top: 3rem;
    .left-ending{
      font-size: 1.4rem;
      p{
        color: @color;
        margin-bottom: 8rem;
      }
      a{
        color: #fff;
      }
    }
    .centre-ending{
      color: #fff;
      font-size: 1.4rem;
      margin-top: -11rem;
      padding-left: 36rem;
      p{
        margin-bottom: 3rem;
      }
    }
    .right-ending{
      text-align: right;
      margin-top: -15rem;
      p{
        color: #fff;
        padding-right: 12px;
      }
    }
    }
    .last{
      text-align: center;
      color: #fff;
      border-top: 0.1rem solid;
      font-size: 1.4rem;
      height: 3rem;
      line-height: 3rem;
    }
  }

  @media (max-width: 768px) {
    .nav{
    li{
      margin-left: 1rem;
      position: relative;
      right: 5rem;
    }
      img{
      padding-left: 0vw;
      }
    }
    .weap{
      margin-top: 35rem;
      .pieced{
        width: 100% !important;
        margin-top: -34rem;
        img{
        margin: auto;
      }
        p{
          margin: auto;
          font-size: 1.5rem;
          padding-top: 2rem;
        }
        .pie{
          a{
            padding-left: 8rem;
          }
        }
      }
      .pieced-1{
        width: 100% !important;
        margin-top: -10rem;
        img{
          margin: auto;
        }
        p{
          margin: auto;
          font-size: 1.5rem;
          padding-top: 2rem;
        }
        .pie1{
          a{
            padding-left: 8rem;
          }
        }
      }
      .blue-1{
        width: 100%;
        margin-left: 0;
      }
      .company{
        margin-bottom: 10rem;
        position: relative;
        top: 4rem;
        p{
          position: relative;
          top: 5rem;
          right: 13.2rem;
        }
        .logo{
          width: 100%;
          position: relative;
          top: 13rem;
          margin-top: -3rem;
        }
      }
      .friendly{
        margin-top: 125rem;
        padding-left: 4rem;
        .fa{
          width: 100%;
          span{
            height: 4rem;
            width: 3rem;
            margin-right: 4.6rem;
          }
        }
      }
    }
    .such{
      margin-top: 7rem;
    .ending-1{
      width: 100% !important;
      height: 26rem !important;
      display: inline-block;
      .left-ending{
        p{
          margin-bottom: 8rem !important;
        }
        a{
          position: relative;
          top: -8rem;
        }
      }
      .centre-ending{
        margin-left: -36rem;
        margin-top: -8rem;
        p{
        margin-bottom: 0rem !important;
        }
      }
      .right-ending{
        float: left;
        padding-top: 15rem;
        p{
          margin-top: 0px;
          position: relative;
          left: -9px;
        }
      }
    }
    }

  }