*{
  margin: 0;
  padding: 0;
}
@color:#ffffff;
body{
  background-color: #FAFAFA;
}
.header{
  .hotline{
    width: 100%;
    height: 35px;
    background: @color;

    .hotline1{
      width: 70%;
      height: 35px;
      background: @color;
      margin: auto;
      a{
        color: #29B078;
        display: inline-block;
        padding-top: 5px;
      }
      img{
        float: right;
        padding-top: 5px;
      }
    }
  }
}
.head{
  .two{
    img{
      width: 100%;
      margin-top: -1rem;
    }
  }
  .nav {
    padding: 0;
    height: 10rem;
    background: #29b078;
    span {
      display: inline-block;
      width: 8rem;
      text-align: center;
      height: 9.9rem;
      margin-top: 1px  ;
      padding-right: 6px;
    }
    span:hover {
      display: block;
      border-bottom: 0.3rem solid @color;
    }
    ul {
      float: right;
      margin-top: -9rem;
    }
    li {
      float: left;
      list-style: none;
      font-size: 1.6rem;
      color: @color;
      line-height: 10rem;
      margin-left: 3.5rem;
    }
    .nav-1 {
      width: 73%;
      margin: auto;
      height: 10rem;
      b{
        color: @color;
        font-size: 40px;
        display: inline-block;
        padding-top: 13px;
        padding-left: 28px;
      }
      p{
        color: @color;
        padding-left: 37px;
      }
      a{
        color: @color;
      }
    }
  }
}
.subnav{
  width: 100%;
  .tow{
    width: 70%;
    margin: auto;
    margin-top: 10rem;
    height: 8rem;
    line-height: 8rem;
    border-bottom: 1px solid #d0d6d9;
    span{
      font-size: 1.6rem;
    }
    a{
      color: #29B078;
    }
  }
  .tow1{
    width: 70%;
    margin: auto;
    height: 8rem;
    line-height: 8rem;
    border-bottom: 1px solid #E5E5E5;
    p{
      font-size: 1.4rem;
      color: #999999;
    }
    a{
      color: #000000;
      margin-left: 3rem;
      padding: 0.5rem;
      text-decoration: none;
    }
    a:hover {
      background: #29b078;
      color: #FFFFFF;
    }
  }
  .tab{
    width: 70%;
    height: 8rem;
    line-height: 8rem;
    margin: auto;
    border-bottom: 1px solid #d0d6d9;
    b{
      font-size: 2rem;
    }
  }
}