* {
  margin: 0;
  padding: 0;
}
body {
  background: #fafafa !important;
}
.one {
  padding-top: 10.9rem;
}
.weap {
  width: 80%;
  margin: auto;
}
.piece {
  margin-bottom: 8rem;
}
.pieced {
  width: 20%;
  padding-bottom: 8rem;
  display: inline-block;
  padding-top: 8rem;
}
.pieced p {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-right: 7rem;
}
.pieced a {
  position: relative;
  left: -3rem;
  font-size: 1.6rem;
  color: #999999;
}
.pieced img {
  height: 6.2rem;
  margin-right: 7rem;
}
.pieced .pie {
  width: 100%;
}
.pieced-1 {
  width: 25%;
  border-left: 0.1rem dashed #AAAAAA;
  font-size: 1.8rem;
  height: 19rem;
  display: inline-block;
}
.pieced-1 p {
  color: #999999;
  margin-top: 1.5rem;
}
.pieced-1 b {
  margin-left: -11.5rem;
  color: #26a26f;
}
.pieced-1 img {
  margin-right: 1rem;
  padding-top: 3rem;
}
.method {
  text-align: center;
  width: 80%;
  margin: auto;
}
.method p {
  text-align: center;
  font-size: 0.8vw;
  padding-right: 1vw;
}
.method p img {
  margin-right: 1rem;
  position: absolute;
  left: 27rem;
  top: 1.2rem;
}
.method .met {
  font-size: 1.8rem;
  margin-bottom: 6rem;
}
.method .method-1 {
  width: 24%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.method .method-1 img {
  margin-top: -4.5vw;
  margin-left: 12vw;
}
.method .top-method {
  width: 100%;
}
.method .round {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #ffffff;
  line-height: 4.5rem;
  text-align: center;
  color: #29b078;
  border: 1px solid #999;
}
.method .word {
  width: 10vw;
  margin-left: 3vw;
  padding-left: 1rem;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  color: #999999;
}
.student {
  width: 70%;
  height: 46rem;
  margin: auto;
}
.student p {
  text-align: center;
  font-size: 1.8rem;
}
.student .stud {
  width: 23%;
  display: inline-block;
}
.blue-1 {
  margin-left: 3rem;
  margin-top: 2rem;
  height: 36.7rem;
  background: #ffffff;
  text-align: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 1px 1px 3px #888888;
  border-radius: 0.2rem;
}
.blue-1 p {
  margin-top: 2rem;
}
.blue-1 a {
  color: #AAAAAA;
}
.blue-1 img {
  border-radius: 50%;
}
.recent {
  height: 4rem;
  margin-bottom: 3rem;
}
.recent span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #aaaaaa;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  margin-top: 2rem;
}
.recent span:hover {
  background: #29b078;
}
.recent p {
  display: block;
  width: 8rem;
  margin: auto;
}
.company {
  width: 70%;
  margin: auto;
  height: 40rem;
}
.company p {
  text-align: center;
  font-size: 1.8rem;
}
.company span {
  float: left;
  background: #ffffff;
  height: 17.5rem;
  box-shadow: 1px 1px 3px #888888;
}
.company span:hover {
  transform: scale(1.1, 1.1);
}
.company .logo {
  width: 20%;
  height: 20rem;
  line-height: 18rem;
  margin-top: 4rem;
  text-align: -webkit-center;
}
.friendly {
  padding: 0;
  background: #ffffff;
}
.friendly .end {
  text-align: center;
  font-size: 1.8rem;
}
.friendly .fa {
  width: 70%;
  margin: auto;
  height: 8rem;
}
.friendly .fa ul {
  margin-top: 2rem;
}
.friendly .fa li {
  font-size: 1.4rem;
  color: #999999;
  width: 6rem;
  line-height: 3rem;
}
.friendly .fa li:hover {
  border-bottom: 0.2rem solid #26a26f;
}
.friendly .fa span {
  float: left;
  display: block;
  height: 3rem;
  margin-right: 4.6rem;
}
.friendly .fa .kind {
  margin-right: 0;
}
@media (max-width: 768px) {
  .nav li {
    margin-left: 1rem !important;
    position: relative;
    right: 5rem;
  }
  .nav img {
    padding-left: 0vw;
  }
  .weap {
    margin-top: 8rem;
  }
  .weap .pieced {
    width: 100% !important;
    margin-top: -8rem;
  }
  .weap .pieced img {
    margin: auto;
  }
  .weap .pieced p {
    margin: auto;
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  .weap .pieced .pie a {
    padding-left: 8rem;
  }
  .weap .pieced-1 {
    width: 100% !important;
    margin-top: -2rem;
  }
  .weap .pieced-1 img {
    margin: auto;
  }
  .weap .pieced-1 p {
    margin: auto;
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  .weap .pieced-1 .pie1 a {
    padding-left: 8rem;
  }
  .method .method-1 {
    width: 100%;
  }
  .method .method-1 img {
    margin-top: -4.5vw;
    float: right;
  }
  .method .method-1 .word {
    width: auto;
  }
  .student {
    width: 70%;
    height: 160rem;
  }
  .student .stud {
    width: 100%;
  }
  .student .stud .blue-1 {
    width: 100%;
    margin-left: 0;
  }
  .company {
    margin-bottom: 10rem;
    position: relative;
    top: 4rem;
  }
  .company .logo {
    width: 100%;
    margin-top: 0.5rem;
  }
  .friendly {
    margin-top: 9rem;
    width: 100%;
    display: inline-block;
  }
  .friendly .fa {
    width: 70%;
    height: 17rem;
    text-align: center;
    padding-left: 4rem;
  }
  .friendly .fa span {
    height: 4rem;
    width: 3rem;
    margin-right: 4.6rem;
  }
  .such .ending-1 {
    width: 100% !important;
    height: 26rem !important;
    display: inline-block;
  }
  .such .ending-1 .left-ending p {
    margin-bottom: 8rem !important;
  }
  .such .ending-1 .left-ending a {
    position: relative;
    top: -8rem;
  }
  .such .ending-1 .centre-ending {
    margin-left: -36rem;
    margin-top: -8rem !important;
  }
  .such .ending-1 .centre-ending p {
    margin-bottom: 0rem !important;
  }
  .such .ending-1 .right-ending {
    float: left;
    padding-top: 15rem;
  }
  .such .ending-1 .right-ending p {
    margin-top: 0px;
    position: relative;
    left: -9px;
  }
}
